<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<!-- 
<form class='form-wrapper'>
    <label>
        <div class="form-text">Email or name</div>
        <input class="form-input" name="name"type="text"/>
    </label>
    <label>
        <div class="form-text">Password</div>
        <input class="form-input" type="email" name="email" />
    </label>
    <button class="form__btn">Login</button>
</form>  -->

    <div class="header"> 
        <div class="header__wrapper">
            <h1 class="header__title">Weekly Sprint #4</h1>
            <button class="header__btn">Sign out</button>
        </div>

        <div class="header__actions">
            <div class="header__actions_inner">
                <p class="header__actions_title">Date created</p>
                <span class="header__actions_date">27 October 2020, 4:15 pm</span>    
            </div>
            <div class="header__actions_icons">
                <img src="./img/header/magnifying_glass.png" alt="magnifying_glass">
                <img src="./img/header/filter.png" alt="filter">
                <img class="line" src="./img/header/line.png" alt="line">
                <img src="./img/header/calendar.png" alt="calendar">
                <img src="./img/header/notebook.png" alt="notebook">
            </div>
        </div>
    </div>

    <div class="container">
        <section>
            <div class="block">
                <div class="block__header-wrapper">
                    <h3 class='block__title block-backlog'>Backlog</h3>
                    <b>...</b>
                </div>

                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>

                    <img class="block__card_icon" src="./img/82f447e3a8416259f717c91099f7a224.jpg" alt="">

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>

        </section>
        
        <section>
            <div class="block">
                <div class="block__header-wrapper">
                    <h3 class="block__title block_progress">In Progress</h3>
                    <b>...</b>
                </div>

                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>
                    <img class="block__card_icon" src="./img/post03.jpg" alt="">

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>

        </section>
                
        <section>
            <div class="block">
                <div class="block__header-wrapper">
                    <h3 class='block__title block_review'>In Review</h3>
                    <b>...</b>
                </div>

                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>

        </section>
        
        <section>
            <div class="block">
                <div class="block__header-wrapper">
                    <h3 class='block__title block_done'>Done</h3>
                    <b>...</b>
                </div>

                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>
                    
                    <img class="block__card_icon" src="./img/82f447e3a8416259f717c91099f7a224.jpg" alt="">

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="block__card">
                    <div class="block__card-wrapper">
                        <div class="block__card-inner">
                            <p class="block__card-title">Landingpage</p>
                            <button class="block__card_btn-edit">Edit</button>
                        </div>
                        <p class="block__card-subtitle">Revisit Homepage Wickrpark.io</p>    
                    </div>

                    <div class="block__card_actions">
                        <img class="block__card_icons-clip" src="./img/card/clip.png" alt="clip">
                        <p>2 files</p>

                        <img  class="block__card_icons-comment" src="./img/card/comment.png" alt="comment">
                        <p>2 commemt</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>